{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <form action="{% url 'home' %}">
            <button>Home</button>
        </form>
        <div class = "base">
                {{ text }}<br>
                <br>
                Your answer: <br>
                {{ answerGiven }} <br>
                Correct answer: <br>
                {{ answerOriginal }} <br>
                <br>
                <form action="{% url 'exampleQuestion' %}">
                    <button>New question</button>
                </form>
        </div>
        
    </body>
</html>