{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
            {% for question in questions %}
                {{ question.question }}
            {% endfor %}
        </div>
        <form action="answer/" method="post">
            {% csrf_token %}
            {{ form }}
            <p>Answer: <input type="text" name="answer"></p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>