{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <form action="{% url 'home' %}">
            <button>Home</button>
        </form>
        <form class = "form" action="answer/" method="post">
            {% for question in questions %}
                {{ question.question }}
            {% endfor %}
            {% csrf_token %}
            {{ form }}
            <p><input type="text" name="answer" placeholder="Answer" autocomplete="off"></p>
            <button>Submit</button>
        </form>
    </body>
</html>