{% extends 'base.html' %}

{% block content %}
<div>
    <form class="base" action="answer/" method="post">
        <h3 style="text-align: left; margin-top: 0">Question name</h3>
        {% for question in questions %}
            {{ question.question }}
        {% endfor %}
        <br><br>
        {% csrf_token %}
        {{ form }}
        <p><input type="text" name="answer" placeholder="Answer" autocomplete="off"></p>
        <button>Submit</button>
    </form>

    <div class="base" id="right">
        Score
        <div id="progressbar">
            <div></div>
        </div>
    </div>
</div>
{% endblock %}
