<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Hoofdstuk 1.1, vraag 1 {% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    <p> Herleid </p>
    <div>
      {% for question in questions %}
          {{ question.question }}
      {% endfor %}
  </div>
  <form action="answer/" method="post">
      {% csrf_token %}
      {{ form }}
      <p>Antwoord: <input type="number" name="answer_1"> x + <input type="number" name="answer_2"> </p>
      <input type="submit" value="Controleer">  &nbsp;&nbsp;
      <button type="button" onClick="window.location.reload();"> Nieuwe vraag </button> &nbsp;&nbsp;
      
  </form>  
    {% endblock %}
  </main>
</body>
</html>