{% extends 'base.html' %}

{% block title %}Hoofdstuk 1.1, vraag 3{% endblock %}

{% block content %}
<div class="base">
  <h4> Los de lineaire vergelijking op voor y. </h4>
  <div>
    {% for question in questions %}
        {{ question.question }}
    {% endfor %}
  </div>
  <form action="answer/" method="post">
    {% csrf_token %}
    {{ form }}
    <p>Antwoord: <br> y =  <input type="text" name="answer_1">  </p>
    <button type="submit">Controleer</button>   &nbsp;&nbsp;
    <br><br>
    <button type="button" onClick="window.location.reload();"> Nieuwe vraag </button>
  </form>  
</div>
{% endblock %}