{% extends 'base.html' %}

{% block title %}Hoofdstuk 1.1, vraag 1{% endblock %}

{% block content %}
<div class="base">
  <h4> Herleid </h4>
  <div>
    {% for question in questions %}
        {{ question.question }}
    {% endfor %}
  </div>
  <form action="/accounts/module1_1a/answer/" method="post">
    {% csrf_token %}
    {{ form }}
    <p>Antwoord:<br><br><input style="width: 120px;" type="number" name="answer_1"> x + <input style="width: 120px;" type="number" name="answer_2"> </p>
    <button type="submit">Controleer</button>   &nbsp;&nbsp;
    <br><br>
    <button type="button" onClick="window.location.reload();"> Nieuwe vraag </button>
  </form>  
</div>
{% endblock %}