<html>
    <head>
        <title></title>
    </head>
    <body>
            <div>
            Vraag: {{ question }}
            </div>
            <br>
            <div>
                Jouw antwoord: <br>
                {{answerGiven_1}}x = {{answerGiven_2}}
                <br><br>
                Het juiste antwoord: <br>
                {{answerOriginal_1}}x = {{answerOriginal_2}}
                <br><br>
                {{ text }}
                <br><br>
                <button type="button" onclick="showHint()"> Bekijk een hint </button> &nbsp;&nbsp;
                <a href="{% url 'module1_1b' %}"> Doe deze vraag opnieuw </a> &nbsp;&nbsp;
                <a href="{% url 'module1_1c' %}"> Volgende vraag </a> 
            
            </div>
            <br>
            <div id="showHint" style="display: none;">
                Hint: {{hint}}
            </div>
            <script>
                function showHint() {
                    var x = document.getElementById("showHint");
                    if (x.style.display === "none") {
                      x.style.display = "block";
                    } else {
                      x.style.display = "none";
                    }
                  }
            </script>
    </body>
</html>