{% extends 'base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<div class="base">
    Vraag: {{ question }}
    <br><br>
    Jouw antwoord: <br>
    t = {{answerGiven}}
    <br><br>
    Het juiste antwoord: <br>
    t = {{answerOriginal}}
    <br><br>
    {{ text }}
    <form action="{% url 'module1_1d' %}"><button>Volgende vraag</button></form><br><br> <! pas aan naar +1 wanneer klaar met huidige vraag, en volgende is aangemaakt>
    <form action="{% url 'module1_1d' %}"><button>Doe deze vraag opnieuw</button></form><br><br>
    <button type="button" onclick="showHint()"> Bekijk een hint </button><br><br>
      <div id="showHint" style="display: none;" class="base">
        <b> Hint </b> : {{hint}}
      </div>
</div>

<script>
  function showHint() {
      var x = document.getElementById("showHint");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
{% endblock %}
