<html>
    <head>
        <title></title>
    </head>
    <body>
        
            <div>
                Jouw antwoord: <br>
                {{answerGiven_1}}x + {{answerGiven_2}}
                <br><br>
                Het juiste antwoord: <br>
                {{answerOriginal_1}}x + {{answerOriginal_2}}
                <br><br>
                {{ text }}
                <br><br>
                <button type="button" onclick="alert('Let goed op de plus- en mintekens!')"> Hint </button> &nbsp;&nbsp;
                <a href="{% url 'module1_1a' %}"> Doe deze vraag opnieuw </a> &nbsp;&nbsp;
                {% if nextQuestionPossible %}
                <a href="{% url 'module1_1b_from_module1_1a' %}"> Volgende vraag </a>
                {% endif %}

            
            </div>
    </body>
</html>