<html>
    <head>
        <title></title>
    </head>
    <body>
        
            <div>
                Jouw antwoord: <br>
                {{answerGiven_1}}x = {{answerGiven_2}}
                <br><br>
                Het juiste antwoord: <br>
                {{answerOriginal_1}}x = {{answerOriginal_2}}
                <br><br>
                {{ text }}
                <br><br>
                <button type="button" onclick="alert('Let goed op de plus- en mintekens!')"> Hint </button> &nbsp;&nbsp;
                <a href="{% url 'module1_1b' %}"> Doe deze vraag opnieuw </a> &nbsp;&nbsp;
                
                <! change below to +1 when done >
                {% if nextQuestionPossible %}
                <a href="{% url 'module1_1c_from_module1_1b' %}"> Volgende vraag </a> 
                {% endif %}
            </div>
    </body>
</html>