{% extends 'base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<div class="base" {% if correct == 1 %} style="border-top: 10px solid rgb(41, 180, 41);" {% endif %}>
    Jouw antwoord: <br>
    {{answerGiven_1}}x + {{answerGiven_2}}
    <br><br>
    Het juiste antwoord: <br>
    {{answerOriginal_1}}x + {{answerOriginal_2}}
    <br><br>
    {{ text }}
    <br><br>
    <button type="button" onclick="alert('Let goed op de plus- en mintekens!')"> Hint </button> &nbsp;&nbsp;<br><br>
    <form action="{% url 'module1_1a' %}"><button>Doe deze vraag opnieuw</button></form><br>
    <form action="{% url 'module1_1b' %}"><button>Volgende vraag</button></form><br>
</div>
{% endblock %}