{% extends 'base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<div class="base">
    Vraag: {{ question }}
    <br><br>
    Jouw antwoord: <br>
    y = {{answerGiven}}
    <br><br>
    Het juiste antwoord: <br>
    y = {{answerOriginal}}
    <br><br>
    {{ text }}
    <br><br>
    <button type="button" onclick="showHint()"> Bekijk een hint </button><br><br>
    <div id="showHint" style="display: none; margin: 20px;" class="base">
     <b> Hint </b> : {{hint}}
    </div>
    {% if toManyMistakes %}
  <div>
    Je hebt al meerder malen dezelfde fout gemaakt, <br>
     misschien is het handig om hulp te vragen. <br><br>
  </div>
    {% endif %}
    {% if nextQuestionPossible %}
      <form action="{% url 'module1_2_from_module1_1d' %}"><button style="float: right" >Volgende vraag</button></form>
    {% else %}
      <button style="float: right ; background-color: lightgrey;" >Volgende vraag</button>
    {% endif %}
    <form action="{% url 'module1_1d' %}"><button style="float: left">Doe deze vraag opnieuw</button></form><br><br>
</div>

<script>
  function showHint() {
      var x = document.getElementById("showHint");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
{% endblock %}
