<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!<br><br><br>
  <form action="{% url 'showInfo' %}"><button>Score</button></form><br><br><br>
  <form action="{% url 'exampleQuestion' %}"><button>New question</button></form><br><br><br>
  <form action="{% url 'logout' %}"><button>Logout</button></form><br><br><br>

{% else %}
  Welcome
  <p>You are not logged in</p>
  <form action="{% url 'login' %}"><button>Login</button></form><br><br><br><br><br><br><br>
  If you do not yet have an account<br><br>
  <form action="{% url 'signup' %}"><button>Sign up</button></form><br>
{% endif %}
{% endblock %}