<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="base" style="max-width: 720px;">
  Hoi {{ user.username }}!<br><br><br>
  <form action="{% url 'module1_1' %}"><button>Huidige module</button></form><br><br><br><! this name and url should change depending on the actual module! >
  <form action="{% url 'moduleOverview' %}"><button>Module overzicht</button></form><br><br><br>
  <form action="{% url 'showInfo' %}"><button>Score</button></form><br><br><br>
  <form action="{% url 'exampleQuestion' %}"><button>New question</button></form><br><br><br>
  <form action="{% url 'teacherOverview' %}"><button>Leraren</button></form><br><br><br>
  <!--<form action="{% url 'logout' %}"><button>Logout</button></form><br><br><br>-->
  <chaptergrid>
  <form action="hoofdstuk1.html">
    <chapter style="float:left">Hoofdstuk 1</chapter>
  </form>

  <form action="hoofdstuk1.html">
    <chapter style="float:none">Hoofdstuk 2</chapter>
  </form>

  <form action="hoofdstuk1.html">
    <chapter style="float:right">Hoofdstuk 3</chapter>
  </form>

  </chaptergrid>
</div>
{% else %}
<div class="base" style="width: 360px">
  <h1>Welcome</h1><br>
  <p>Je bent nog niet ingelogd.</p>
  <form action="{% url 'login' %}"><button>Log in</button></form><br><br><br><br><br>
  Als je nog geen account hebt:<br><br>
  <form action="{% url 'signup' %}"><button>Schrijf in</button></form><br>
{% endif %}

{% endblock %}