<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hoi {{ user.username }}!
  
  <p> Je huidige module: 
  <a href="{% url 'module1_1' %}"> Hoofdstuk 1.1 </a> <! this name and url should change depending on the actual module! > </p>

  <p> Kies zelf een module uit het overzicht:
  <a href="{% url 'moduleOverview' %}"> Module overzicht </a> </p>

  <p>Bekijk hier je scores:
  <a href="{% url 'showInfo' %}">database info</a> <! andere naam? > </p>

  <p><a href="{% url 'logout' %}">Log uit</a></p>

{% else %}
  <p>Je bent nog niet ingelogd.</p>
  <a href="{% url 'login' %}">Log in</a><br><br>
  Als je nog geen account hebt:
  <a href="{% url 'signup' %}"> Schrijf in</a>
{% endif %}
{% endblock %}